#p1::before {
    content: 'Przed elementem " ';
    color: green;
}
#p2::after {
    content: " za elementem";
    color: red;
}
#p3::first-letter {
    color: deeppink;
    text-transform: uppercase;
}
#p4::first-line {
    background-color: yellow;
}
#p3::selection {
    background-color:coral;
}